.cart-content {
    display: flex;
    flex-direction: column;
}


.cart-content-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.cart-content-header button {
     background: white;
     color: red;
     padding: 3px;
     border: 1px solid red;
     min-width: 8.313rem;
     border-radius: 0.313rem;
     font-weight: 500;
     cursor: pointer;
}
.cart-content-header  {
    margin-bottom: 2rem;
}
.cart-content-header button > i {
    margin-right: 0.635rem;
    font-size: 1rem;
}

.cart-content-main {
    display:flex;
    flex-direction: column;
}
.cart-items {
    margin-bottom: 1rem;
    padding: 0.625rem;
}
.cart-items, .cart-order {
    background: white;
}
 .cart-order {
    background:  white;
    padding: 1.5rem;
    max-height:300px;
}

.cart-items h2 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.cart-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    border-radius: 0.313rem;
    margin-bottom: 1rem;
}

.cart-item-desc {
    display: flex;
}

.cart-order hr {
     color: #e0e0e0;
     height: 1px;
     border: none;
     background-color: black; /* Set the color of the line */
}

.cart-order-row {
    margin: 1rem 0px;
    display: flex;
    justify-content: space-between;
}


#total_value, #total_label {
   font-size: 1.125rem;
   font-weight: bold;
}
.cart-order button { 
    padding: 0.75rem 1rem;
    background: var(--secondary-color);
    color: white;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.cart-item  img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
    align-self: center;
    margin-right: 1rem;
}


.cart-item-desc{
    display: flex;
    flex-direction:row;
}

.cart-item-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-btn  button {
    width: 2rem;
    height: 2rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#cart-item-btn-minus {
    margin-right: 1rem;
}

#cart-item-btn-plus {
    margin-left: 1rem;
    margin-right: 1rem;
}


.cart-item-btn i {
    color: red;
}
.cart-item-info > span{
    display: block;
    font-size: 0.875rem; /* Equivalent to 14px */
line-height: 1.25rem; /* Equivalent to 20px */


}
.cart-item-info span:last-child {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

#cart-items-content {

}

@media  screen and (min-width: 728px){
    .cart-item{
        display:flex;
        justify-content: space-between;
    }
 
}

@media  screen and (min-width: 1024px){
    .cart-content {
        width:70%;
        margin: auto;
    }
    .cart-content-main{
        display: flex;
        flex-direction: row;

    }
    .cart-items {
        flex: 3;
    }

    .cart-order {
        flex: 1;
    }


    .cart-order {
        margin-left: 1rem;
    }

    .cart-items {
        padding: 1.6rem;
    }
    .cart-item {
        display: flex;
        justify-content: space-between;
    }

    .cart-item-info {
        display:flex;
        flex-direction: column;
    }

 
    
}