.checkout-group {
    background: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}
.form-group input {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
      padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}
.form-group label {
     font-weight: 500;
}

.form-group input[type="text"], .form-group input[type="email"]{
    width: 100%;
    border: 1px solid hsl(214.3 31.8% 91.4%);
    outline: none;
}

.form-group input[type="radio"]{
    accent-color: black;
}

.checkout-group:nth-child(2) .form-group-payment{
    display:flex;
    align-items: center;
}

.checkout-group:nth-child(2) .form-group input[type="radio"]{
    margin-right: 0.625rem;
}

.checkout-group:nth-child(2) .form-group label {
     margin-left: 0.625rem;
}