.order {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    padding: 1rem;
    box-shadow: var(--box-shadow-card);
    margin-bottom: 0.5rem;
}
.order:hover {
    cursor:pointer;
}
.order-desc {
    display:flex;
}
.order-desc-content {
    display: flex;
    flex-direction: column;
}

.order-desc-content h3 {
    font-weight: 600;
}

.order-status {
    background-color: #ecc94b;
    color: white;
    padding-left: 0.625rem; 
    padding-right: 0.625rem;
    padding-top: 	0.13rem;
    padding-bottom: 	0.13rem;
    border-radius: 0.20rem;
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    font-size: 0.8rem;
    font-weight: 600;
}
.order-desc img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
    align-self: center;
    margin-right: 1rem;
}

.order-price {
    font-weight: 800;
    display:block;
}

.order-date {
     margin-bottom: 0.5rem;
}
.order-items {
    margin-bottom: 0.25rem;
}

